---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      {% include post-fragment.html post = post %}
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="fa fa-arrow-left"></span> Prev</a>
    {% else %}
      <span><span class="fa fa-arrow-left"></span> Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next <span class="fa fa-arrow-right"></span></a>
    {% else %}
      <span>Next <span class="fa fa-arrow-right"></span></span>
    {% endif %}
  </nav>
  {% endif %}
</div>
