@include media-query($on-palm) {
  html {
    font-size: 14px;
  }
}

/**
 * Site header
 */
.site-header {
  background: linear-gradient(to bottom, #ccc, #fff);
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  text-align: center;

  @include media-query($on-palm) {
    .site-title {
      letter-spacing: -1px;
    }
  }
}

.blog-title {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
}

.avatar {
  background: url('/assets/images/avatar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 56px;
  vertical-align: middle;
  width: 56px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        background-color: #000;
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.home {
  h2 {
    text-align: center;
  }
}



/**
 * Site footer
 */
.site-footer {
  background: linear-gradient(#fff, #ccc);
  color: #000;
  padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    text-align: center;
}

.social-media-list {
  li {
    display: inline-block;
  }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content,
#main-content {
  box-sizing: border-box;
}

#main-content {
  min-height: calc(100vh - 60px - 56px - 97px);
}

.page-content {
  padding: $spacing-unit 0;
  position: relative;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    clear: both;
    margin: 0 auto $spacing-unit;
    position: relative;
    text-align: center;
    width: 75%;

    @include media-query($on-palm) {
      width: auto;
    }

    p {
      text-align: justify;
    }
  }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
}

.post-fragment {
  
}

.thumb-container {
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 2px #000;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.tags {
  color: #555;
  font-family: $accent-font;
  font-size: 14px;
  letter-spacing: -1px;
  list-style-type: none;
  margin-left: 0;

  li {
    display: inline-block;

    a {
      border-bottom: 0;
      color: #555;
      text-decoration: none;
    }
  }
}

.featured-image-container {
  width: 100%;

  img {
    width: 100%;
  }
}

.main-nav {
  text-align: center;

  ul {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  li {
    border: 2px solid #000;
    box-sizing: border-box;
    flex: 0 1 125px;
    margin: 16px 4px;
    min-width: 20%;
    padding: 4px;
  }
}
