@font-face {
  font-family: mario3;
  src: url('/assets/fonts/mario/Super-Mario-Bros--3.woff'),
   url('/assets/fonts/mario/Super-Mario-Bros-3?#iefix') format('embedded-opentype'),
   url('/assets/myfont-webfont.woff') format('woff'),
   url('/assets/fonts/mario/Super-Mario-Bros--3.ttf')  format('truetype'),
   url('/assets/fonts/mario/Super-Mario-Bros-3.svg#svgFontName') format('svg');
}

h1, h2, h3, h4, h5, h6,
.blog-tagline,
.site-title {
  font-family: mario3;
  letter-spacing: -3px;
  vertical-align: middle;
}

.blog-tagline {
  text-shadow: 1px 2px 1px #000;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

.blog-tagline {
  letter-spacing: 0;
  .color-0 {
    color: $color-0;
  }
  .color-1 {
    color: $color-1;
  }
  .color-2 {
    color: $color-2;
  }
  .color-3 {
    color: $color-3;
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:after {
    border-bottom: 2px solid;
    bottom: 10%;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.site-header {
  .blog-title:after {
    display: none;
  }
  a:after {
    z-index: 0;
  }
}

.page-content a {
  color: #000;

  &.color {
    &-0:after {
      border-color: $color-0;
    }

    &-1:after {
      border-color: $color-1;
    }

    &-2:after {
      border-color: $color-2;
    }

    &-3:after {
      border-color: $color-3;
    }
  }

  &:hover,
  &:active {
    color: #000;
  }
}

.page-content p a {
  //text-decoration: underline;
}

.site-footer a {
  color: #000;
  text-decoration: none;

  &::after {
    border-bottom: 0;
  }
}
