@font-face {
  font-family: mario3;
  src: url('/assets/fonts/mario/Super-Mario-Bros--3.woff'),
   url('/assets/fonts/mario/Super-Mario-Bros-3?#iefix') format('embedded-opentype'),
   url('/assets/myfont-webfont.woff') format('woff'),
   url('/assets/fonts/mario/Super-Mario-Bros--3.ttf')  format('truetype'),
   url('/assets/fonts/mario/Super-Mario-Bros-3.svg#svgFontName') format('svg');
}

h1, h2, h3, h4, h5, h6,
.blog-tagline {
  font-family: mario3;
  letter-spacing: -3px;
  vertical-align: middle;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

.blog-tagline {
  letter-spacing: 0;
  .color-0 {
    color: $color-0;
  }
  .color-1 {
    color: $color-1;
  }
  .color-2 {
    color: $color-2;
  }
  .color-3 {
    color: $color-3;
  }
}

.page-content a {
  border-bottom: 2px solid red;
  color: #000;
  text-decoration: none;

  &.color {
    &-0 {
      border-color: $color-0;
    }

    &-1 {
      border-color: $color-1;
    }

    &-2 {
      border-color: $color-2;
    }

    &-3 {
      border-color: $color-3;
    }
  }

  &:hover,
  &:active {
    color: #000;
  }
}

.page-content p a {
  //text-decoration: underline;
}
