<!DOCTYPE html>
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
      <section id="main-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </section>
      <section
        class="hide"
        id="menu-content"
      >
        <div class="wrapper">
          <h2>Jeff Auriemma's blog</h2>
          {% include social-media-list.html %}
          <p>
            Thanks for visiting!
          </p>
          {% include nav.html %}
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/main.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64217213-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-64217213-2');
  </script>
</html>
