---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">{% include post-meta.html date=page.date tags=page.tags categories=page.categories %}{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    {% if page.featured_image %}
    <div class="featured-image-container">
      <img src="/assets/images/featured/{{ page.featured_image }}" alt="{{ page.title }}">
    </div>
    {% endif %}
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% if page.cta %}
    <h3>Keep the conversation going</h3>
    <p>I really appreciate feedback from anyone and everyone who reads my posts, so please feel free to say hi at <a href="https://mastodon.social/@bignimbus" target="_blank">bignimbus@mastodon.social</a> and keep the conversation going.</p>
    {% endif %}
  </div>
  {% if page.attributions %}
  <footer>
    <h3>Attributions</h3>
      <ul>
        {% for a in page.attributions %}
        <li>The {{ a.asset_name }} is credited to <a href="{{ a.asset_url }}">{{ a.author}}</a>{% if a.license_name %} under the {% if a.license_url %}<a href="{{ a.license_url }}">{% endif %}{{ a.license_name }}{% if a.license_url %}</a>{% endif %}{% endif %}.</li>
        {% endfor %}
      </ul>
  </footer>
  {% endif %}
</article>
<footer class="related-posts">
  <h3>Related</h3>
  <ul>
    {% assign one = 'false' %}
    {% assign two = 'false' %}
    {% for post in site.related_posts %}
      {% assign match = false %}
      {% for category in post.categories %}
        {% if page.categories contains category %}
          {% assign match = true %}
        {% endif %}
      {% endfor %}
      {% if match %}
        {% if !one == 'false' %}
          {% assign one = post %}
        {% elsif one != 'false' and two == 'false' %}
          {% assign two = post %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if one != 'false' %}
      {% include post-fragment.html post = one short = true %}
    {% endif %}
    {% if two != 'false' %}
      {% include post-fragment.html post = two short = true %}
    {% endif %}
  </ul>
</footer>
